<div class="container">
  <div *ngIf="loading">Loading...</div>
  <div *ngIf="error">{{ error }}</div>

  <!-- Button to toggle form visibility -->
  <button class="btn btn-primary mb-3 me-3" data-bs-toggle="modal" data-bs-target="#roleModal">Create Role</button>

  <!-- Role table -->
  <table class="table table-striped" *ngIf="!loading && !error">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let role of roles">
        <td>{{ role.name }}</td>
        <td>{{ role.description }}</td>
        <td>
          <button class="btn btn-warning btn-sm" (click)="editRole(role)" data-bs-toggle="modal"
            data-bs-target="#roleModal">Update</button>
          <button class="btn btn-danger btn-sm" *ngIf="role.id !== undefined"
            (click)="confirmDeleteRole(role.id!)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Pagination Component -->
  <app-pagination [currentPage]="currentPage" [totalPages]="totalPages" (pageChange)="onPageChange($event)"></app-pagination>

  <!-- Role Modal Component -->
  <app-role-modal [isEditing]="isEditing" [newRole]="newRole"
    (saveRole)="isEditing ? updateRole($event) : createRole($event)">
  </app-role-modal>
</div>