<div [ngClass]="{'d-flex justify-content-center' : true, 'full-page': fullPage}">
    <div class="spinner-container">
        <div class="spinner-border" [ngClass]="{'spinner-border-sm': size === 'sm',
                                                'spinner-border-md': size === 'md',
                                                'spinner-border-lg': size === 'lg'}" role="status">
            <span class="visually-hidden">{{text}}</span>
        </div>
        <span *ngIf="text" class="ms-2">{{text}}</span>
</div>