<div class="container">
  <div *ngIf="loading">Loading...</div>
  <div *ngIf="error">{{ error }}</div>

  <!-- Button to toggle form visibility -->
  <button class="btn btn-primary mb-3 me-3" data-bs-toggle="modal" data-bs-target="#employeeModal"
    (click)="openCreateEmployeeModal()">Create
    Employee</button>

  <!-- Button to toggle search filters -->
  <button class="btn btn-secondary mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#searchFilters"
    aria-expanded="false" aria-controls="searchFilters">
    Toggle Search Filters
  </button>

  <!-- Filter section -->
  <div class="collapse" id="searchFilters">
    <div class="card card-body">
      <h3>Search Filters</h3>
      <form class="row g-3">
        <div class="col-md-6">
          <label for="filterFirstName" class="form-label">First Name:</label>
          <input class="form-control" type="text" id="filterFirstName" name="filterFirstName"
            [(ngModel)]="filters.firstName" placeholder="Search First Name">
        </div>
        <div class="col-md-6">
          <label for="filterLastName" class="form-label">Last Name:</label>
          <input class="form-control" type="text" id="filterLastName" name="filterLastName"
            [(ngModel)]="filters.lastName" placeholder="Search Last Name">
        </div>
        <div class="col-md-6">
          <label for="filterEmail" class="form-label">Email:</label>
          <input class="form-control" type="text" id="filterEmail" name="filterEmail" [(ngModel)]="filters.email"
            placeholder="Search Email">
        </div>
        <div class="col-md-6">
          <label for="filterBirthday" class="form-label">Birthday:</label>
          <input class="form-control" type="date" id="filterBirthday" name="filterBirthday"
            [(ngModel)]="filters.birthday" placeholder="Search Birthday">
        </div>
        <div class="col-md-6">
          <label for="filterAge" class="form-label">Age:</label>
          <input class="form-control" type="text" id="filterAge" name="filterAge" [(ngModel)]="filters.age"
            placeholder="Search Age">
        </div>
        <div class="col-md-6">
          <label for="filterAddress" class="form-label">Address:</label>
          <input class="form-control" type="text" id="filterAddress" name="filterAddress" [(ngModel)]="filters.address"
            placeholder="Search Address">
        </div>
        <div class="col-md-6">
          <label for="filterContactNumber" class="form-label">Contact Number:</label>
          <input class="form-control" type="text" id="filterContactNumber" name="filterContactNumber"
            [(ngModel)]="filters.contactNumber" placeholder="Search Contact Number">
        </div>
        <div class="col-md-6">
          <label for="filterEmploymentStatus" class="form-label">Employment Status:</label>
          <input class="form-control" type="text" id="filterEmploymentStatus" name="filterEmploymentStatus"
            [(ngModel)]="filters.employmentStatus" placeholder="Search Employment Status">
        </div>
        <div class="col-md-6">
          <label for="filterRoles" class="form-label">Roles:</label>
          <select class="form-select" id="filterRoles" name="filterRoles" [(ngModel)]="filters.roles">
            <option value="">All Roles</option>
            <option *ngFor="let role of roles" [value]="role.id">{{ role.name }}</option>
          </select>
        </div>
        <div class="col-md-6">
          <label for="filterCreatedDateStart" class="form-label">Created Date Start:</label>
          <input class="form-control" type="datetime-local" id="filterCreatedDateStart" name="filterCreatedDateStart"
            [(ngModel)]="filters.createdDateStart" placeholder="Search Created Date Start">
        </div>
        <div class="col-md-6">
          <label for="filterCreatedDateEnd" class="form-label">Created Date End:</label>
          <input class="form-control" type="datetime-local" id="filterCreatedDateEnd" name="filterCreatedDateEnd"
            [(ngModel)]="filters.createdDateEnd" placeholder="Search Created Date End">
        </div>
        <div class="col-md-6">
          <label for="filterUpdatedDateStart" class="form-label">Updated Date Start:</label>
          <input class="form-control" type="datetime-local" id="filterUpdatedDateStart" name="filterUpdatedDateStart"
            [(ngModel)]="filters.updatedDateStart" placeholder="Search Updated Date Start">
        </div>
        <div class="col-md-6">
          <label for="filterUpdatedDateEnd" class="form-label">Updated Date End:</label>
          <input class="form-control" type="datetime-local" id="filterUpdatedDateEnd" name="filterUpdatedDateEnd"
            [(ngModel)]="filters.updatedDateEnd" placeholder="Search Updated Date End">
        </div>
        <div class="col-md-6">
          <label for="filterCreatedBy" class="form-label">Created By:</label>
          <input class="form-control" type="text" id="filterCreatedBy" name="filterCreatedBy"
            [(ngModel)]="filters.createdBy" placeholder="Search Created By">
        </div>
        <div class="col-md-6">
          <label for="filterUpdatedBy" class="form-label">Updated By:</label>
          <input class="form-control" type="text" id="filterUpdatedBy" name="filterUpdatedBy"
            [(ngModel)]="filters.updatedBy" placeholder="Search Updated By">
        </div>
        <div class="col-12">
          <button class="btn btn-primary" (click)="applyFilters()">Apply</button>
          <button class="btn btn-secondary" (click)="clearFilters()">Clear</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Employee table -->
  <div class="table-responsive">
    <table class="table table-striped" *ngIf="!loading && !error">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Birthday</th>
          <th>Age</th>
          <th>Address</th>
          <th>Contact Number</th>
          <th>Employment Status</th>
          <th>Roles</th>
          <th>Created Date</th>
          <th>Created By</th>
          <th>Updated Date</th>
          <th>Updated By</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees">
          <td>{{ employee.firstName }}</td>
          <td>{{ employee.lastName }}</td>
          <td>{{ employee.email }}</td>
          <td>{{ employee.birthday }}</td>
          <td>{{ employee.age }}</td>
          <td>{{ employee.address }}</td>
          <td>{{ employee.contactNumber }}</td>
          <td>{{ employee.employmentStatus }}</td>
          <td>{{ getRoles(employee) }}</td>
          <td>{{ employee.createdDate }}</td>
          <td>{{ employee.createdBy}}</td>
          <td>{{ employee.updatedDate }}</td>
          <td>{{ employee.updatedBy }}</td>
          <td>
            <div class="btn-group" role="group">
              <button class="btn btn-warning btn-sm" (click)="editEmployee(employee)" data-bs-toggle="modal"
                data-bs-target="#employeeModal">Update</button>
              <button class="btn btn-danger btn-sm" *ngIf="employee.id !== undefined"
                (click)="confirmDeleteEmployee(employee.id!)">Delete</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Pagination Component -->
  <app-pagination [currentPage]="currentPage" [totalPages]="totalPages" [totalItems]="totalItems" [pageSize]="pageSize"
    (pageChange)="onPageChange($event)" (itemsPerPageChange)="onItemsPerPageChange($event)"></app-pagination>

  <!-- Employee Modal Component -->
  <app-employee-modal [isEditing]="isEditing" [newEmployee]="newEmployee" [roles]="roles"
    [selectedRoleId]="selectedRoleId" (saveEmployee)="isEditing ? updateEmployee($event) : createEmployee($event)">
  </app-employee-modal>
</div>