<div class="modal fade" id="employeeModal" tabindex="-1" aria-labelledby="employeeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="employeeModalLabel">{{ isEditing ? 'Update Employee' : 'Create New Employee' }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSave(employeeForm)" #employeeForm="ngForm" class="row g-3 needs-validation" novalidate>
          <div class="col-md-6">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" id="firstName" name="firstName" #firstNameInput="ngModel"
              [(ngModel)]="newEmployee.firstName" class="form-control"
              [class.is-invalid]="firstNameInput.invalid && (firstNameInput.touched || employeeForm.submitted)"
              required>
            <div class="invalid-feedback"
              *ngIf="firstNameInput.invalid && (firstNameInput.touched || employeeForm.submitted)">
              First name is required
            </div>
          </div>

          <div class="col-md-6">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" id="lastName" name="lastName" #lastNameInput="ngModel" [(ngModel)]="newEmployee.lastName"
              class="form-control"
              [class.is-invalid]="lastNameInput.invalid && (lastNameInput.touched || employeeForm.submitted)" required>
            <div class="invalid-feedback"
              *ngIf="lastNameInput.invalid && (lastNameInput.touched || employeeForm.submitted)">
              Last name is required
            </div>
          </div>

          <div class="col-md-12">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" name="email" #emailInput="ngModel" [(ngModel)]="newEmployee.email"
              class="form-control"
              [class.is-invalid]="emailInput.invalid && (emailInput.touched || employeeForm.submitted)" required email>
            <div class="invalid-feedback" *ngIf="emailInput.invalid && (emailInput.touched || employeeForm.submitted)">
              Valid email is required
            </div>
          </div>

          <div class="col-md-12">
            <label for="password" class="form-label">Password</label>
            <div [ngClass]=" { 'd-flex' : isEditing }">
              <input type="password" id="password" name="password" #passwordInput="ngModel"
                [(ngModel)]="newEmployee.password" class="form-control"
                [class.is-invalid]="passwordInput.invalid && (passwordInput.touched || employeeForm.submitted) && (!isEditing || passwordEditEnabled)"
                [required]="!isEditing || passwordEditEnabled" [disabled]="isEditing && !passwordEditEnabled">
              <button *ngIf="isEditing" type="button" class="btn btn-outline-secondary ms-2"
                (click)="togglePasswordEdit()">
                {{ passwordEditEnabled ? 'Cancel' : 'Change' }}
              </button>
            </div>

            <div class="invalid-feedback"
              *ngIf="passwordInput.invalid && (passwordInput.touched || employeeForm.submitted) && (!isEditing || passwordEditEnabled)">
              Password is required
            </div>
          </div>

          <div class="col-md-12">
            <label for="address" class="form-label">Address</label>
            <input type="text" id="address" name="address" [(ngModel)]="newEmployee.address" class="form-control">
          </div>

          <div class="col-md-6">
            <label for="birthday" class="form-label">Birthday</label>
            <input type="date" id="birthday" name="birthday" [(ngModel)]="newEmployee.birthday" class="form-control">
          </div>

          <div class="col-md-6">
            <label for="contactNumber" class="form-label">Contact Number</label>

            <input type="text" id="contactNumber" name="contactNumber" [(ngModel)]="newEmployee.contactNumber"
              class="form-control">
          </div>

          <div class="col-md-6">
            <label for="employmentStatus" class="form-label">Employment Status</label>
            <input type="text" id="employmentStatus" name="employmentStatus" [(ngModel)]="newEmployee.employmentStatus"
              class="form-control">
          </div>

          <div class="col-md-6">
            <label for="roles" class="form-label">Roles</label>
            <select id="roles" name="roles" [(ngModel)]="selectedRoleId" class="form-select">
              <option *ngFor="let role of roles" [value]="role.id">{{ role.name }}</option>
            </select>
          </div>

          <button type="submit" class="btn btn-primary" [attr.data-bs-dismiss]="employeeForm.valid ? 'modal' : null">
            {{ isEditing ? 'Update Employee' : 'Create Employee' }}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>