table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
}

.table-responsive {
    overflow-x: auto;
}

.active-filters {
    .col-md-12 {
      margin-bottom: 0.5rem;
    }
  
    label {
      min-width: 100px;
      text-align: right;
      margin-right: 0.5rem;
    }
  }
  
  .dropdown-item.disabled {
    opacity: 0.5;
    pointer-events: none;
  }