table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
}

.table-responsive {
    overflow-x: auto;
}

.active-filters {
    label {
      min-width: 100px;
      text-align: right;
    }
    
    .input-group {
      flex-wrap: nowrap;
    }
    
    .input-group input.form-control {
      min-width: 0;
    }
  }
  
  .dropdown-item.disabled {
    opacity: 0.5;
    pointer-events: none;
  }