<div class="modal fade" id="ticketModal" tabindex="-1" aria-labelledby="ticketModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ticketModalLabel">{{ isEditing ? 'Update Ticket' : 'Create New Ticket' }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSave(ticketForm)" #ticketForm="ngForm" class="row g-3 needs-validation" novalidate>
          <div class="col-md-12">
            <label for="title" class="col-sm-2 col-form-label">Title</label>
            <input type="text" id="title" name="title" #titleInput="ngModel" [(ngModel)]="newTicket.title"
              class="form-control"
              [class.is-invalid]="titleInput.invalid && (titleInput.touched || ticketForm.submitted)" required>
            <div class="invalid-feedback" *ngIf="titleInput.invalid && (titleInput.touched || ticketForm.submitted)">
              Title is required
            </div>
          </div>
          <div class="col-md-12">
            <label for="body" class="col-sm-2 col-form-label">Body</label>
            <textarea id="body" name="body" #bodyInput="ngModel" [(ngModel)]="newTicket.body" class="form-control"
              [class.is-invalid]="bodyInput.invalid && (bodyInput.touched || ticketForm.submitted)" required></textarea>
            <div class="invalid-feedback" *ngIf="bodyInput.invalid && (bodyInput.touched || ticketForm.submitted)">
              Body is required
            </div>
          </div>

          <div class="col-md-12">
            <label for="status" class="col-sm-2 col-form-label">Status</label>
            <select id="status" name="status" #statusInput="ngModel" [(ngModel)]="newTicket.status" class="form-select"
              [class.is-invalid]="statusInput.invalid && (statusInput.touched || ticketForm.submitted)" required>
              <option *ngFor="let status of ticketStatuses" [value]="status">{{ status }}</option>
            </select>
            <div class="invalid-feedback" *ngIf="statusInput.invalid && (statusInput.touched || ticketForm.submitted)">
              Status is required
            </div>
          </div>

          <div class="col-md-12">
            <label for="assignee" class="col-sm-2 col-form-label">Assignee:</label>
              <select id="assignee" name="assignee" [(ngModel)]="selectedEmployeeId" class="form-select">
                <option [ngValue]="undefined">Unassigned</option>
                <option *ngFor="let employee of employees" [ngValue]="employee.id">{{ employee.firstName }} {{
                  employee.lastName }}</option>
              </select>
          </div>
          <button type="submit" class="btn btn-primary" [attr.data-bs-dismiss]="ticketForm.valid ? 'modal' : null">{{
            isEditing ? 'Update Ticket' : 'Create Ticket' }}</button>
        </form>
      </div>
    </div>
  </div>
</div>